#moreImg{
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position:center 20%;
}

#detail{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". detail .";
    padding-top: 50px;
    position: relative;
    height: max-content;

    @include xl{
        grid-template-columns:30% auto 16;
    }

    >div{
        grid-area: detail;
        display: grid;
        grid-template-columns: 50% auto;
        height: 3900vh;

        button{
            position: absolute;
            top: 16px;
            left: 30px;
            padding: 2%;
            background-color: transparent;
            color: black;
            font-weight: 600;
            cursor: pointer;
        }

        section{
            padding: 10%;
            padding-right: 30%;
           


            h1{
                color: black;
                text-align: left;

            }

            p{
                color: black;
                font-size: 2rem;
                text-align: left;

            }
        }
        #detail-hero{
            padding: 20%;
            background-size: cover;
            background-position: center;
            height: 10%;
            width: 85%;
            margin-left: -20%;
        }
    }
}