#manifesto {
    height: 60vh;
    width: 100vw;

    

   

}

.manifesto{
    
    height: 100vh;
    width: 100vw;

  }
  

    .manifesto-dash {

        position: absolute;
        width: 332px;
        height: 154px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: auto;
        text-transform: uppercase;
        right: 73%;

        color: #000000;

    }

  
  .sidebar {
    
    height: 100vh;
    width: 100%;
    .manifesto-text {

        position: absolute;
        width: 30%;
        height: 100%;
        left: 65%;
        margin-top: 10%;
       
        font-family: IBM Plex Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 3.5rem;
        text-align: right;

        color: #000000;
    }
  }