#simple {


    height: 100vh;
    width: 100vw;

    .simple-container {
        position: absolute;
        width: 80%;
        height: 261px;
        left: 121px;
        top: 130%;

        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: auto;
        text-transform: uppercase;
        text-align: left;
        
        color: #000000;


    }




}

#simple-img {
    background-image: url('./img/simple/art.png');
}