#simple {


    height: 100vh;
    width: 100vw;

    .simple-container {
        
        position: absolute;
        width: 50%;
        height: 50%;
        left: 15%;
        top: 130%;

        font-family: Helvetica;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: auto;
        text-transform: uppercase;
        text-align: left;
        
        color: #000000;

    }

#simple-img {
    background-image: url("../img/simple/ice.png");
    background-size: cover;
}


}

